{% load static %}

<!doctype html>
<html lang="pt-br">
  <head>
    {% include "parciais/head.html" %}
    <title>{% block titulo %}{% endblock titulo %}Home</title>
  </head>
  <body>
        {% include "parciais/header.html" %}

        <main>
            {% block conteudo %}
            {% include "parciais/_messages.html" %}
            {% endblock conteudo %}
        </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static "assets/script.js" %}"></script>
  </body>
</html>