{% extends "base.html" %}
{% load omfilters %}

{% block conteudo %}
<section id="detalhe-produto">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 col-sm-5 pt-5">
                <div class="card-produto">
                    <div class="ratio ratio-4x3">
                        <img src="{{produto.imagem.url}}" class="card-img-top">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-5 pt-5">
                <div class="card-produto">
                    <div class="ratio ratio-4x3">
                        <img src="{{produto.imagem.url}}" class="card-img-top">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-2 col-sm-2 pt-5">
                <div class="card-body pt-3 pl-5">
                    <h3>{{produto.nome}}</h3>
                    <a href="#" class="produto-link">Categoria: </a>
                    <h4>Quantidade: </h4>
                    <h4>{{produto.preco | formata_preco}}</h4>

                        <form action="{% url 'produto:adicionaraocarrinho' %}" id="form-add-to-cart">
                                <div class="form-group">
                                    <select id="select-variacoes" name="vid" class="form-control form-control-lg">
                                        {% for variacao in produto.variacao_set.all %}
                                            <option value="{{ variacao.id }}">{{ variacao.nome }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                        <button type="submit" class="btn btn-dark btn-add btn-lg btn-block"><i class="fa-solid fa-cart-shopping"></i> Adicionar ao carrinho</button>
                                        
                        </form>
           
                </div>
            </div>
</section>
{% endblock conteudo %}