{% extends "base.html" %}
{% load omfilters %}

{% block conteudo %}
<section id="carousel">
    <div class="container carousel-container">
        <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="images/teste1.png" class="d-block w-100">
                    <div class="carousel-caption d-none d-md-block">
                    <h5>Tênis de qualidades</h5>
                    <p>O Lugar perfeito para comprar seus tênis</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="images/teste2.png" class="d-block w-100">
                    <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="images/teste3.jpg" class="d-block w-100">
                    <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                    </div>
                </div>
                </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>  
    </div>
</section>
<section id="marcas">
    <div class="container">
        <h1 class="title-marcas border-bottom border-3">Nossas Marcas</h1>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 p-2 border-bottom border-3">
            <div class="col-md-6 col-lg-4 col-xl-3">
              <a href="#">
                <div class="card shadow-sm card-custom">
                    <div class="ratio ratio-16x9">
                        <img src="images/jordan-logo.png">
                    </div>
                  </div>
              </a>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <a href="#">
                    <div class="card shadow-sm card-custom">
                        <div class="ratio ratio-16x9">
                            <img src="images/nike-logo.png">
                        </div>
                    </div>
                </a>
            </div>
              <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="card shadow-sm card-custom">
                    <div class="ratio ratio-16x9">
                        <img src="images/yeezy-logo.png">
                    </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="card shadow-sm card-custom">
                    <div class="ratio ratio-16x9">
                        <img src="images/adidas-logo.png">
                    </div>
                </div>
              </div>
          </div>
    </div>
</section>
<section id="produto">
    <div class="container">
        <h1 class="title-marcas border-bottom border-3">Produtos</h1>
        <div class="row">
            {% for produto in produtos%}

                <div class="col-4 p-3">
                    <div class="card-produto">
                        <div class="ratio ratio-16x9">
                            <a href="{{produto.slug}}" class="produto-link">
                                <img src="{{ produto.imagem.url }}" class="card-img top">
                            </a>
                        </div>
                        <div class="card-body pt-3">
                            <h5 class="card-tile">{{ produto.nome }}</h5>
                            <a href="#" class="produto-link">Categoria</a>
                            <h5>{{produto.preco | formata_preco}}</h5>
                        </div>
                    </div>
                </div>

            {% endfor %}   
        </div>
    </div>
</section>
{% endblock conteudo %}